.jumbotron {
    background-color: $yellow;
    color: $black;
    @include margenes(0px, 0px);
    padding-top: 5%;
    padding-bottom: 2%;
}

footer {
    padding: 10px 10px 0 10px;
    background-color: yellow;
    margin-bottom: 0px;
    margin-top: 10px
}

.card-servicio {
    flex: 1 200px;
    margin-top: 10px;
}

.btn-servicio {
    width: 100%;
}

.navbar-nav {
    float:none;
    margin:0 auto;
    display: block;
    text-align: center;
}

.navbar-nav > li>a{
    padding-left:30px;
    padding-right:30px;
    text-align: center;
}

ul.nav li {
   text-align: center;
}

.footer-address-icon {
    padding-right: 10px;
}

.space-icon {
    padding-right: 5px;
}

.img-fluid {
    max-width: 100%;
    max-height: 50%;
}

.tab-content {
    padding-top: 10px;
}