$yellow: #fffAAA;
$red: #db6f67;
$green: #9edb8f;
$black: #434a41;

@mixin margenes($top, $bottom){
    margin-top: $top;
    margin-bottom: $bottom;
}

.jumbotron {
    background-color: $yellow;
    color: $black;
    @include margenes(0px, 0px);
    padding-top: 5%;
    padding-bottom: 2%;
}

footer {
    padding: 10px 10px 0 10px;
    background-color: $yellow;
    @include margenes(10px, 0px);
}

.card-servicio {
    flex: 1 200px;
    @include margenes(10px, 0px);
}

.btn-servicio {
    width: 100%;
}

.navbar-nav > li>a{
    padding-left:30px;
    padding-right:30px;
    vertical-align: bottom;
}

ul.nav li {
   text-align: center;
}
.navbar-brand
    {
      font-size: x-large;
    }

.footer-address-icon {
    padding-right: 10px;
}

.space-icon {
    padding-right: 5px;
}

.img-fluid {
    max-width: 100%;
    max-height: 50%;
}

.tab-content {
    padding-top: 10px;
}