.jumbotron {
  background-color: #fffAAA;
  color: #434a41;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 5%;
  padding-bottom: 2%;
}

footer {
  padding: 10px 10px 0 10px;
  background-color: #fffAAA;
  margin-top: 10px;
  margin-bottom: 0px;
}

.card-servicio {
  flex: 1 200px;
  margin-top: 10px;
  margin-bottom: 0px;
}

.btn-servicio {
  width: 100%;
}

.navbar-nav > li > a {
  padding-left: 30px;
  padding-right: 30px;
  vertical-align: bottom;
}

ul.nav li {
  text-align: center;
}

.navbar-brand {
  font-size: x-large;
}

.footer-address-icon {
  padding-right: 10px;
}

.space-icon {
  padding-right: 5px;
}

.img-fluid {
  max-width: 100%;
  max-height: 50%;
}

.tab-content {
  padding-top: 10px;
}

/*# sourceMappingURL=styles.css.map */
