.jumbotron {
  background-color: #8f8d63;
  color: #434a41;
  margin-top: 50px;
  margin-bottom: 0px;
}
footer {
  padding: 10px 10px 0 10px;
  background-color: #8f8d63;
  margin-top: 10px;
  margin-bottom: 0px;
}
.card-servicio {
  flex: 1 200px;
  margin-top: 10px;
  margin-bottom: 0px;
}
.btn-servicio {
  width: 100%;
}
.navbar-nav > li {
  padding-left: 30px;
  padding-right: 30px;
}
.footer-address-icon {
  padding-right: 10px;
}
.space-icon {
  padding-right: 5px;
}
.img-fluid {
  max-width: 100%;
  max-height: 50%;
}
.tab-content {
  padding-top: 10px;
}
